ul {
    display: flex;
}

li {
    list-style: none;
    margin-left: 50px;
    color: black;
    text-decoration: none;
}


.button {
    margin-top: 15%;
    padding: 12px 24px;
    background-color: green;
    color: #fff;
    text-decoration: none;
}

.logo {
    height: 200px;
}

body {
    background-color: red;
}

header,
footer {
    padding: 20px 50px;
    height: 50px;
    background-color: orange;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer span {
    color: white;
}

.text {
    background-color: bisque;
}